/* src/components/Toast/Toast.css */

.toast{

position:fixed;

right:30px;

top:30px;

padding:15px 22px;

border-radius:10px;

color:#fff;

font-weight:600;

z-index:99999;

animation:show .25s;

}

.success{

background:#16a34a;

}

.error{

background:#dc2626;

}

.warning{

background:#ea580c;

}

@keyframes show{

from{

opacity:0;

transform:translateY(-15px);

}

to{

opacity:1;

transform:translateY(0);

}

}