/* src/pages/Yevmiye/Yevmiye.css */

.yevmiye-page{

padding:35px;

}

.page-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.page-header h1{

font-size:34px;

}

.page-header p{

margin-top:8px;

color:#64748b;

}

.calculate-btn{

height:50px;

padding:0 24px;

border:none;

border-radius:10px;

background:#2563eb;

color:#fff;

cursor:pointer;

font-weight:600;

transition:.25s;

}

.calculate-btn:hover{

background:#1d4ed8;

}